__pycache__/
*.py[cod]
*.log
*.out
*.err
*.tmp
*~

log/
logs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

ckpt/
workspace/
wandb/
data/
eval_scripts/results/
.venv*/
*.egg-info/
analysis/results/
/results/
